{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% for post in pagination %}
        <a href="{{ path('post_show', { 'id': post.id }) }}"><h3>{{ post.title }}</h3></a>
        <p>{{ post.description }}</p>
        <p>{{ post.views }} views</p>
    {% endfor %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}