{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <progress value="0" id="progressBar">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
    <a class="btn btn-default" href="{{ path('post_index') }}">Back to the list</a>
    <br>
    <br>
    <div class="container-fluid col-md-9">
        <h1 class="single__title">{{ post.title }}</h1>
        {% if post.views == 1 %}
            <p>{{ post.views }} view</p>
        {% else %}
            <p>{{ post.views }} views</p>
        {% endif %}
        <p class="single_excerpt">{{ post.description }}</p>
        <p class="post-content">{{ post.body|md2html }}</p>
    </div>
    <br>
    <br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            var getMax = function () {
                return $(document).height() - $(window).height();
            }

            var getValue = function () {
                return $(window).scrollTop();
            }

            if ('max' in document.createElement('progress')) {
                // Browser supports progress element
                var progressBar = $('progress');

                // Set the Max attr for the first time
                progressBar.attr({max: getMax()});

                $(document).on('scroll', function () {
                    // On scroll only Value attr needs to be calculated
                    progressBar.attr({value: getValue()});
                });

                $(window).resize(function () {
                    // On resize, both Max/Value attr needs to be calculated
                    progressBar.attr({max: getMax(), value: getValue()});
                });
            } else {
                var progressBar = $('.progress-bar'),
                        max = getMax(),
                        value, width;

                var getWidth = function () {
                    // Calculate width in percentage
                    value = getValue();
                    width = (value / max) * 100;
                    width = width + '%';
                    return width;
                }

                var setWidth = function () {
                    progressBar.css({width: getWidth()});
                }

                $(document).on('scroll', setWidth);
                $(window).on('resize', function () {
                    // Need to reset the Max attr
                    max = getMax();
                    setWidth();
                });
            }
        });
    </script>
{% endblock %}
