{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <a class="btn btn-default" href="{{ path('post_index') }}">Back to the list</a>
    <br>
    <br>
    <div class="container-fluid">
        <h1 class="single__title">{{ post.title }}</h1>
        {% if post.views == 1 %}
            <p>{{ post.views }} view</p>
        {% else  %}
            <p>{{ post.views }} views</p>
        {% endif %}
        <p class="single_excerpt">{{ post.description }}</p>
        <p class="post-content">{{ post.body|md2html }}</p>
    </div>
    <br>
    <br>
{% endblock %}

{% block javascripts %}

{% endblock %}
