{% extends 'AppBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendors/jQuery-File-Upload-9.12.5/css/style.css') }}">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{ asset('vendors/jQuery-File-Upload-9.12.5/css/jquery.fileupload.css')}}">
    <link rel="stylesheet" href="{{ asset('vendors/jQuery-File-Upload-9.12.5/css/jquery.fileupload-ui.css')}}">
{% endblock %}
{% block body %}
{#    <div class="container">
        <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">

                    <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" class="toggle">

                    <span class="fileupload-process"></span>
                </div>

                <div class="col-lg-5 fileupload-progress fade">

                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>

                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>

            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </form>
        <br>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
<script>
    $('#fileupload').fileupload({
        filesContainer: $('table.files'),
        uploadTemplateId: null,
        downloadTemplateId: null,
        uploadTemplate: function (o) {
            var rows = $();
            $.each(o.files, function (index, file) {
                var row = $('<tr class="template-upload fade">' +
                        '<td><span class="preview"></span></td>' +
                        '<td><p class="name"></p>' +
                        '<div class="error"></div>' +
                        '</td>' +
                        '<td><p class="size"></p>' +
                        '<div class="progress"></div>' +
                        '</td>' +
                        '<td>' +
                        (!index && !o.options.autoUpload ?
                                '<button class="start" disabled>Start</button>' : '') +
                        (!index ? '<button class="cancel">Cancel</button>' : '') +
                        '</td>' +
                        '</tr>');
                row.find('.name').text(file.name);
                row.find('.size').text(o.formatFileSize(file.size));
                if (file.error) {
                    row.find('.error').text(file.error);
                }
                rows = rows.add(row);
            });
            return rows;
        },
        downloadTemplate: function (o) {
            var rows = $();
            $.each(o.files, function (index, file) {
                var row = $('<tr class="template-download fade">' +
                        '<td><span class="preview"></span></td>' +
                        '<td><p class="name"></p>' +
                        (file.error ? '<div class="error"></div>' : '') +
                        '</td>' +
                        '<td><span class="size"></span></td>' +
                        '<td><button class="delete">Delete</button></td>' +
                        '</tr>');
                row.find('.size').text(o.formatFileSize(file.size));
                if (file.error) {
                    row.find('.name').text(file.name);
                    row.find('.error').text(file.error);
                } else {
                    row.find('.name').append($('<a></a>').text(file.name));
                    if (file.thumbnailUrl) {
                        row.find('.preview').append(
                                $('<a></a>').append(
                                        $('<img>').prop('src', file.thumbnailUrl)
                                )
                        );
                    }
                    row.find('a')
                            .attr('data-gallery', '')
                            .prop('href', file.url);
                    row.find('button.delete')
                            .attr('data-type', file.delete_type)
                            .attr('data-url', file.delete_url);
                }
                rows = rows.add(row);
            });
            return rows;
        }
    });
</script>#}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-image.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-audio.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-video.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-validate.js') }}"></script>
    <script src="{{ asset('vendors/jQuery-File-Upload-9.12.5/js/jquery.fileupload-ui.js') }}"></script>
    <script>
        $(function () {
            'use strict';
            $('#fileupload').fileupload({
                url: 'server/php/'
            });
            $('#fileupload').addClass('fileupload-processing');
            $.ajax({
                url: $('#fileupload').fileupload('option', 'url'),
                dataType: 'json',
                context: $('#fileupload')[0]
            }).always(function () {
                $(this).removeClass('fileupload-processing');
            }).done(function (result) {
                $(this).fileupload('option', 'done')
                        .call(this, $.Event('done'), {result: result});
            });
        });
    </script>#}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//rawgithub.com/blueimp/jQuery-File-Upload/master/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="//rawgithub.com/blueimp/jQuery-File-Upload/master/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="//rawgithub.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fileupload').fileupload({});
        });
    </script>

    <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('gallery') }}" multiple />
{% endblock %}