{% extends 'AppBundle::admin.html.twig' %}

{% block body %}
    <h1>Post list</h1>
    <a class="btn btn-primary" href="{{ path('admin_post_new') }}">Create</a>
    <table class="table table-striped">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
            <th class="action-buttons"></th>
        </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td><a href="{{ path('admin_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td class="buttons-tight">
                    <a class="btn btn-default" href="{{ path('admin_post_show', { 'id': post.id }) }}">Show</a>
                    <a class="btn btn-primary btn-edit" id="{{ post.id }}" href="javascript:;">Edit</a>
                    <a class="btn btn-danger btn-delete" id="{{ post.id }}" href="javascript:;">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".btn-delete").click(function (event) {
            if (confirm("Are you sure?")) {
                var postId = event.target.id;
                $.ajax({
                    url: "/api/posts/" + postId,
                    method: "DELETE",
                    success: function () {
                        $(event.target).parent().parent().remove();
                    },
                    error: function (response) {
                        console.log(response);
                    }
                })
            }
        });

/*        $(".btn-edit").click(function (event) {
            var postId = event.target.id;
            $.ajax({
                url: "/api/posts/" + postId,
                method: "PUT",
                success: function () {
                    $(event.target).parent().parent().remove();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        });*/

        $(".btn-edit").click(function (event) {

            var modal = document.getElementById('myModal');

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });

    </script>
{% endblock %}
