{% extends 'AppBundle::admin.html.twig' %}

{% block body %}
    <h1>Post list</h1>
    <a class="btn btn-primary" href="{{ path('admin_post_new') }}">Create</a>
    <table class="table table-striped">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Views', 'a.views') }}</th>
            <th class="action-buttons"></th>
        </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td name="id"><a href="{{ path('admin_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td name="title">{{ post.title }}</td>
                <td name="description">{{ post.description }}</td>
                <td name="views">{{ post.views }}</td>
                <td class="buttons-tight">
                    <a class="btn btn-default" href="{{ path('admin_post_show', { 'id': post.id }) }}">Show</a>
                    <a class="btn btn-primary" href="javascript:;" type="button" data-toggle="modal" data-target="#myModal-{{ post.id }}">Edit</a>
                    <a class="btn btn-danger btn-delete" id="{{ post.id }}" href="javascript:;">Delete</a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="myModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel-{{ post.id }}">Edit post</h4>
                        </div>
                        <div class="modal-body">
                            <input name="title" class="form-control" value="{{ post.title }}">
                            <br>
                            <br>
                            <input name="description" class="form-control" value="{{ post.description }}">
                            <br>
                            <br>
                            <textarea name="body" class="form-control" rows="10">{{ post.body }}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-edit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".btn-delete").click(function (event) {
            if (confirm("Are you sure?")) {
                var postId = event.target.id;
                $.ajax({
                    url: "/api/posts/" + postId,
                    method: "DELETE",
                    success: function () {
                        $(event.target).parent().parent().remove();
                    },
                    error: function (response) {
                        console.log(response);
                    }
                })
            }
        });

        for (var i = 0; i < 5; i++) {
            var simplemde = new SimpleMDE({element: $("textarea[name=body]")[i]});
        }


        $(".btn-edit").click(function (event) {
            var title = $(event.target).parent().parent().find('input[name=title]').val();
            var description = $(event.target).parent().parent().find('input[name=description]').val();
            var body = $(event.target).parent().parent().find('div.CodeMirror-code').text();
            var postId = $(event.target).parent().parent().parent().parent().attr("id").split("-")[1];
            $.ajax({
                url: "/api/posts/" + postId,
                method: "PUT",
                data:{
                    'title': title,
                    'description': description,
                    'body': body
                },
                success: function () {
                    $("tbody td[name=id]").each(function(index, element) {
                        if (parseInt($(this).text()) === parseInt(postId)) {
                            $(this).parent().find($("td[name=title]")).text(title);
                            $(this).parent().find($("td[name=description]")).text(description);
                        }
                    });
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });
    </script>
{% endblock %}
