{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}"/>
{% endblock %}

{% block popPosts %}
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="form-group" action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <hr/>
                <button class="btn btn-primary pull-right" type="submit">Login</button>
            </form>
        </article>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script>
        var lock = new Auth0Lock('uzeZkp9LdqCSWEpC9F9qM2nwfyBnQcuj', 'vlady.eu.auth0.com', {
            container: 'root',
            auth: {
                redirectUrl: 'http://192.168.33.10/',
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                }
            }
        });
    </script>
{% endblock %}