{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <form class="form-group" action="{{ path('user_register') }}" method="post">
                {{ form_errors(form) }}

                {{ form_row(form.username, {
                    'label' : 'Name:',
                    'attr' : {'class':'form-control'},
                    'help' : 'Choose a unique and clever username'
                }) }}
                {{ form_row(form.plainPassword.first, {
                    'attr' : {'class':'form-control'},
                    'label' : 'Password:'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'attr' : {'class':'form-control'},
                    'label' : 'Repeat password:'
                }) }}

                {{ form_rest(form) }}
                <hr/>
                <input type="submit" value="Register!" class="btn btn-primary pull-right"/>
            </form>
        </article>
    </section>
{% endblock %}